*, ::after, ::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.navbar-brand img {
    width: 140px;
    height: 80px;
    margin-left: 100px;   
}
#navbarNav{
    margin-left: 200px;
}
.primer_section{
    height: 500px;
    background-image: url(imagenes/ba1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    position: relative;
}
.primer_section::before{
    position: absolute;
    content: "";
    inset: 0;
    background-color: rgba(0, 0, 0, .50);
}
.primer_section > h2, p, button{
    position: relative;
    margin-right: 100px;
}
.tituloPrimerSection{
    color: white;
}
.textoPrimerSection{
    color: white;
    display: block;
    width: 500px;
    text-align: right;
}
.botonesPrimerSection {
    display: flex;
    flex-direction: row;
    margin-right: 100px;
}
.tituloSegundoSection{
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.932);
}
.tituloSegundoSection span{
    font-size: 30px;
}
.imagenesSegundoSection {
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 300px 250px;
    margin-left:150px;
}
.imagenesSegundoSection img {
    width: 300px;
    height: 300px;
}
.info {
    margin-top: 20px;
    margin-left: 20px;
}
.info h3{
    font-size: 20px;
}
.info p{
    font-size: 12px;
}
.tercerSection{
    height: 480px;
}
.honolulu{
    height: 450px;
    background-image: url(imagenes/honolulu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#info_img{
    border-left: solid 1px white;
}
.tituloTercerSection{
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.932);
}
.tituloTercerSection span{
    font-size: 30px;
}
.subtituloTercerSection{
    text-align: center;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#formNyA {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
#apellido{
    margin-left: 30px;
}
.footer {
    height: 100px;
    background-color: rgb(47, 47, 87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.footer a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    margin: 35px;
}
.tarifas{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}
.contenidoTraifas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.estudiante{
    height: 250px;
    width: 250px;
    border: solid 1px #0d6efd;
}
.trainee{
    height: 250px;
    width: 250px;
    border: solid 1px #198754;
    margin-left: 10px;
}
.junior{
    height: 250px;
    width: 250px;
    border: solid 1px #ffc107;
    margin-left: 10px;
}
.tituloVenta{
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}
.tituloValor{
    text-align: center;
    text-transform: uppercase;
}
